nvtruongcl/xml-resources/web-service-references/EmployeeWS/wsdl/localhost_8080/nvtruong/EmployeeWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap/">

<xs:element name="find" type="tns:find"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="getEmployeeList" type="tns:getEmployeeList"/>

<xs:element name="getEmployeeListResponse" type="tns:getEmployeeListResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="removeResponse" type="tns:removeResponse"/>

<xs:element name="save" type="tns:save"/>

<xs:element name="saveResponse" type="tns:saveResponse"/>

<xs:element name="tblemployee" type="tns:tblemployee"/>

<xs:complexType name="save">
<xs:sequence>
<xs:element name="arg0" type="tns:tblemployee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tblemployee">
<xs:sequence>
<xs:element name="employeeNo" type="xs:string" minOccurs="0"/>
<xs:element name="employeename" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNo" type="xs:string" minOccurs="0"/>
<xs:element name="placeOfWork" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmployeeList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmployeeListResponse">
<xs:sequence>
<xs:element name="return" type="tns:tblemployee" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:tblemployee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>