nvtruongcl/xml-resources/web-service-references/EmployeeWS/wsdl/localhost_8080/nvtruong/EmployeeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="EmployeeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/nvtruong/EmployeeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getEmployeeList">
<part name="parameters" element="tns:getEmployeeList"/>
</message>
<message name="getEmployeeListResponse">
<part name="parameters" element="tns:getEmployeeListResponse"/>
</message>
<portType name="EmployeeWS">
<operation name="remove">
<input wsam:Action="http://soap/EmployeeWS/removeRequest" message="tns:remove"/>
<output wsam:Action="http://soap/EmployeeWS/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://soap/EmployeeWS/findRequest" message="tns:find"/>
<output wsam:Action="http://soap/EmployeeWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="save">
<input wsam:Action="http://soap/EmployeeWS/saveRequest" message="tns:save"/>
<output wsam:Action="http://soap/EmployeeWS/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getEmployeeList">
<input wsam:Action="http://soap/EmployeeWS/getEmployeeListRequest" message="tns:getEmployeeList"/>
<output wsam:Action="http://soap/EmployeeWS/getEmployeeListResponse" message="tns:getEmployeeListResponse"/>
</operation>
</portType>
<binding name="EmployeeWSPortBinding" type="tns:EmployeeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployeeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmployeeWS">
<port name="EmployeeWSPort" binding="tns:EmployeeWSPortBinding">
<soap:address location="http://localhost:8080/nvtruong/EmployeeWS"/>
</port>
</service>
</definitions>